<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

        <link rel="stylesheet" href="protfolio.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>
<body>
        <%- include("heder.ejs") %>
   <section class="Education">
    <div class="list-group mt-5" style="margin-top: 200px;">
  <h1 style="color: white; font-size: 60px; text-align: center; text-shadow: 4px 4px red;">Education</h1>
<br><br><br><br>
  <a href="bba(ca).html" class="list-group-item list-group-item-action" style="border-bottom: 5px solid rgb(255, 128, 0);">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">New Art's Commerce And Science college,Ahilyanagar.</h5>
      <small class="text-muted">Mar/Apr 2025<br>Ahilyanagar</small>
    </div>
    <p class="mb-1">Bachelor of business Administration Computer Applications(BBA(CA)) </p>
    <small class="text-muted">CGPA:8.60, GRADE(A+)</small>
  </a>
  <a href="12th.html" class="list-group-item list-group-item-action" style="border-bottom: 5px solid rgb(80, 7, 128);">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Shri Santuknath English Vidyalay Jeur</h5>
      <small class="text-muted">March-2022 <br>Jeur</small>
    </div>
    <p class="mb-1">Higher Secondary Education</p>
    <small class="text-muted">Percentage:-73.50</small>
  </a>
  <a href="10th.html" class="list-group-item list-group-item-action"style="border-bottom: 5px solid red;">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Shri Santuknath English Vidyalay Jeur</h5>
      <small class="text-muted">March-2020  <br>Jeur</small>
    </div>
    <p class="mb-1">senior Secondary Education</p>
    <small class="text-muted">Percentage:-86.60</small>
  </a>
</div>

   
<br>
<br>

<br>
<br><br>
<br>
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</body>
</html>