
<body style="background-color: rgb(18, 18, 48);">
   <nav class="navbar navbar-expand-lg navbar-dark bg-white fixed-top float-md-left">
  <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand bg-white text-white" href="../public/img/vaishnavi bhonde.pdf"><i style="font-size: 30px; text-shadow: 4px 5px rgb(195, 13, 168);">portfolio_Vaishnavi </i></a>

  <div class="collapse navbar-collapse text-warning bg-white " id="navbarTogglerDemo03" style="text-shadow: 2px 4px #420cb0; font-size: 23px;">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0 pr-5">
      <li class="nav-item active ">
        <a class="nav-link text-white pr-5" href="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white pr-5" href="about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white pr-5" href="Education">Education</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white pr-5" href="skills">Skills</a>
      </li>
     <li class="nav-item">
        <a class="nav-link text-white pr-5" href="project">Project</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white pr-5" href="contact">Contact</a>
      </li>
    </ul>
   
  </div>
</nav> 
</body>
